<%= form_for :approval do |f| %>
  <% if @approval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@approval.errors.count, "error") %> prohibited this approval from being saved:</h2>
      <ul>
      <% @approval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </div>

  <div class="field">
	<%= f.label :decline %><br />
    <%= f.check_box :decline %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
