<div id="page_body">
<h2>You have been asked to review the following recommendation.</h2>

<p><b>Associate:</b> <%= @approval.recommendation.nominee %></p>
<p><b>Award:</b> <%= @approval.recommendation.award.name %></p>
<p><b>Job Title:</b> <%= @approval.recommendation.title %></p>
<p><b>Department:</b> <%= @approval.recommendation.department %></p>	
<div><b>Summary:</b><br> <%= @approval.recommendation.summary %></div>
<div><b>Accomplishments:</b><br> <%= @approval.recommendation.accomplishments %></div>


	<%= form_for :approval, :url => { :action => "update" }, :method => :put do |f| %>
	  <% if @approval.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@approval.errors.count, "error") %> prohibited this approval from being saved:</h2>
	      <ul>
	      <% @approval.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>


	  <div class="field approve">
	    <h2>Approve?</h2>
	    <%= f.check_box :approved %> Check for yes!
	  </div>

	  <div class="field approve">
	    <h2>Decline?</h2>
	    <%= f.check_box :decline %> Check to Decline!
	  </div>
	  
	
	  <div class="field">
	    Supervisor Email Address:<br />
	    <%= f.text_field :next_approver_email %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Approve" %>  
	  </div>
	<% end %>
	

	
	
	

<p>
  <b>Email:</b>
  <%= @approval.email %>
</p>

</div>