<div id="page_body">
<h2>You have been asked to review the following recommendation by <%= @approval.email %></h2>

<p><b>Associate:</b> <%= @approval.recommendation.nominee %></p>
<p><b>Award:</b> <%= @approval.recommendation.award.name %></p>
<p><b>Job Title:</b> <%= @approval.recommendation.title %></p>
<p><b>Department:</b> <%= @approval.recommendation.department %></p>	
<div><b>Summary:</b><br> <%= @approval.recommendation.summary %></div>
<div><b>Accomplishments:</b><br> <%= @approval.recommendation.accomplishments %></div>


	<%= form_for :approval, :url => { :action => "update" }, :method => :put do |f| %>
	  <% if @approval.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@approval.errors.count, "error") %> prohibited this approval from being saved:</h2>
	      <ul>
	      <% @approval.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
		
	<script type="text/javascript">
	$(document).ready(function() { 
		$('#next_approver_email_field').toggle(); 
		$('input#approval_checked').click( function( event ) {
			$('div#next_approver_email_field').show();
		});
	});
	</script>

	  <div class="field approve">
		
		
	    <h2>Approve?</h2>
		
		<%= f.radio_button( :approved, "1", :id => "approval_checked") %> Approve<br>
		<%= f.radio_button( :approved, "0", :checked => true) %> Decline

	  </div>

			<% if current_user.smt == true %>
				<h2>You are an SMT user of BoB, if you approve this recommendation will be sent to the committee</h2>
			<% else%>
			  <div class="field" id="next_approver_email_field">
			    Supervisor Email Address:<br />
			    <%= f.text_field :next_approver_email %>
			  </div>
			<% end %>
	  <div class="actions">
	    <%= f.submit "Submit" %>  
	  </div>
	<% end %>
	

	
	
	



</div>