
<p>You have been asked to review the following recommendation.</p>

<p>Name:<b> <%= @approval.recommendation.nominee %></b></p>
<p>Award: <%= @approval.recommendation.award.name %></p>
<p>Job Title: <%= @approval.recommendation.title %><p>
<p>Associate Number: <%= @approval.recommendation.associate_number %><p>
<div>Summary: <%= @approval.recommendation.summary %><div>
<div>Accomplishments: <%= @approval.recommendation.accomplishments %><div>

<p>
	<%= form_for :approval, :url => { :action => "update" }, :method => :put do |f| %>
	  <% if @approval.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@approval.errors.count, "error") %> prohibited this approval from being saved:</h2>
	      <ul>
	      <% @approval.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>


	  <div class="field">
	    <%= f.label :approved %><br />
	    <%= f.check_box :approved %>
	  </div>
	  <div class="field">
	    Supervisor Email Address:<br />
	    <%= f.text_field :next_approver_email %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Approve" %> <%= link_to "Decline Approval", %>
	  </div>
	<% end %>
	
	
	
	

<p>
  <b>Email:</b>
  <%= @approval.email %>
</p>


<%= link_to 'Edit', edit_approval_path(@approval) %> |
<%= link_to 'Back', recommendations_path %>
