<div id="page_body">

<h3>You have been asked to review the following recommendation!</h3>

<%= form_for :approval, :url => { :action => "update" }, :method => :put, :html => { :multipart => true } do |f| %>
  	 <% if @approval.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@approval.errors.count, "error") %> prohibited this approval from being saved:</h2>
	      <ul>
	      <% @approval.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>

	<p><b>Associate:</b> <%= @approval.recommendation.nominee %></p>
	<p><b>Award:</b> <%= @approval.recommendation.award.name %></p>
	<p><b>Job Title:</b> <%= @approval.recommendation.title %></p>
	<p><b>Department:</b> <%= @approval.recommendation.department %></p>	
	<div><b>Summary:</b><br> <%= @approval.recommendation.summary %></div>
	<div><b>Accomplishments:</b><br> <%= @approval.recommendation.accomplishments %></div>
	<div><b>Original Recommender:</b> <%= @rec_user.email  %></div>
	

	<hr>

	<h4>To date the following associates have approved this recommendation:</h4>
	
	
		<table cellspacing="5" class="table table-striped">
			<tr>
				<th>Email</th>
				<th>Approved</th>
				<th>Declined</th>
				<th>SMT?</th>
				<th>Created</th>
				<th>Attachment</th>
				<th>Comments</th>
			</tr>
			<% @approvals.each do |approval|%>
			<tr>
				<td class="first"><%= approval.email %></td>
				<% if approval.approved == true %>
					<td>&radic;</td>
					<td></td>
				<% else %>
				 	<td></td>
					<td>&radic;</td>
				<% end %>
				<td><%= approval.recommendation.user.smt %></td>
				<td><%= approval.created_at.strftime("%d %b. %Y") %></td>
				<td>
						<% if approval.upload.exists?%>
						 <%= link_to image_tag("document.png"), approval.upload.url %>
						<% end %>
					
				</td>
				<td><%= approval.info %></td>	
			</tr>
			<% end %>
		</table>


	<hr>



	<div class="field approve">
		<h4>This recommendation is awaiting your response to approve or decline.</h4>
		<%= f.radio_button( :approved, "1", :id => "approval_checked") %> Approve<br>
		<%= f.radio_button( :approved, "0", :id => "approval_denied") %> Decline
	</div>
	
	

	<% if current_user.smt == true %>
		<h2>With your approval, the recommendation process is complete and this recommendation will move on to the Best of Bauer Academy for voting.</h2>
	<% else%>
		<div class="field" id="next_approver_email_field">
		Supervisor Email Address:<br />
		<%= f.text_field :next_approver_email %>
		</div>
	<% end %>
	
	<div class="field">
		Attachment<br>
			<div class="fileupload fileupload-new" data-provides="fileupload">
				<div class="input-append">
			    	<div class="uneditable-input span3">
						<i class="icon-file fileupload-exists"></i> 
						<span class="fileupload-preview"></span>
					</div>
					<span class="btn btn-file">
						<span class="fileupload-new">Select file</span>
						<span class="fileupload-exists">Change</span>
							<%= f.file_field :upload %> 				
						</span>
			    </div>
	       </div>
	</div>
	
	<div class="field">
		Notes/Comments<br>
		<%= f.text_area :info %> 
	</div>
	<div class="field">
		<i>Please select “submit” ONLY after you have finished entering all of your comments and attached any optional documentation you’d like to include with your approval.  Not finished yet?  Simply close this window, and come back at a later time to complete your approval.  Thank you.</i>
	</div>
    <div class="actions">
	    <%= f.submit "Submit" %>  
    </div>
	<% end %>
	
	
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#next_approver_email_field').hide();

		    $('#approval_checked').change(function() {
		        $('#next_approver_email_field').show();
		    });
	
			$('#approval_denied').change(function() {
		        $('#next_approver_email_field').hide();
		    });
		});
	</script>
</div>