<h1>Listing recomendations</h1>

<table>
  <tr>
    <th>Nominee</th>
    <th>Award</th>
    <th></th>
    <th></th>
	<th></th>
  </tr>

<% @recommendations.each do |recommendation| %>
  <tr>
    <td><%= recommendation.nominee %> | </td>
    <td><%= recommendation.award.name unless recommendation.award.nil?  %> </td>
    <td><%= link_to 'Show', recommendation %></td>
    <td><%= link_to 'Edit', edit_recommendation_path(recommendation) %></td>
    <td><%= link_to 'Destroy', recommendation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h3><%= link_to 'New Recommendation', new_recommendation_path %></h3>
