<div id="page_body">
<h1>Recommendation Information</h1>
<p>
  <b>Nominee:</b>
  <%= @recommendation.nominee %>
</p>
<p><b>Award:</b> <%= @recommendation.award.name  %></p>
<p>&nbsp;</p>
<h2>Approvals</h2>
<ul>
	<% @approvals.each do |approval|%>
		<li><%= approval.id %> | <%= approval.email %>  | <%= link_to "View", approval_path(approval) %> 
		
		</li>
	<% end %>

</ul>

<%= link_to 'Back', recommendations_path %>
</div>