<%= simple_form_for(@video) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <p>Set embed code width to 300px.<br><%= f.input :embed %></p>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
