<h1>Listing videos</h1>

<p><%= link_to "Back to Admin", admin_path, :class => "btn" %></p>

<table>
  <tr>
    <th>Name</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td class="first"><%= video.name %></td>
   
 
    <td><%= link_to 'Edit', edit_video_path(video), :class => "btn" %></td>
    <td><%= link_to 'Destroy', video, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<h3><%= link_to 'New Video', new_video_path, :class => "btn" %></h3>
