<h1>Best of Bauer Administration</h1>

<h2>Choose from one of the following options to administrate</h2>


	<h3><%= link_to "Employees", accounts_list_path %></h3>
	<h3><%= link_to "Awards", awards_path %></h3>
	<h3><%= link_to "Recommendations", recommendations_path%></h3>
	<h3><%= link_to "Pages", pages_path %><h3>
	<h3><%= link_to "Videos", videos_path %> </h3>
	<h3><%#= link_to "Videos", videos_path %> Photos (coming soon) </h3>

