<div id="page_body">
<div id="rec_bar_arrow" class="pos4"><%= image_tag 'recommend_nav.png'%></div>
<%= render  'shared/recommend_timeline' %>

<h1>Choose an Award</h1>
	
	
	<% case params[:location]
	   when 'store' %>
		<h2>RECOMMENDED BRAND AWARDS</h2>
		
		<ul class="award_cat_list">
	  	<% @corp.each do |corp| %>
			<li><%= link_to corp.name, new_recommendation_path(:award => corp.id), :title => corp.info %></li>
		<% end %>
		</ul>
		
		<h2>RECOMMENDED CUSTOMER EXPERIENCE AWARDS</h2>
		<ul class="award_cat_list">		
			<li><a href="../awards/3">Apparel Stores</li>
			<li><a href="../awards/6">District Directors</li>
			<li><a href="../awards/2">Legendary Customer Service</li>
			<li><a href="../awards/5">Mission Summit Stores</li>
			<li><a href="../awards/7">Open Category</li>
			<li><a href="../awards/4">Outlet Store</li>
		</ul>
		
	<% when 'corp' %>
		<h2>Select a Corporate/Westmont/Vaughn Awards for your recommendation</h2>
		<ul class="award_cat_list">
	  	<% @corp.each do |corp| %>
			<li><%= link_to corp.name, new_recommendation_path(:award => corp.id), :title => corp.info %></li>
		<% end %>
		</ul>
	<% else %>
	   <br>You must select a Award Category From the <%= link_to "Locations", location_path %> page!
	<% end %>
</div>