

<div id="page_body">
	<%=m @page.body %>
	
<h1>Award Categories</h1>

<h2>RECOMMENDED BRAND AWARDS (OPEN TO ALL ASSOCIATES)</h2>
	<ul>
	<% @awardsall.each do |award| %>
		<li><%= link_to award.name, award_path(award), :title => award.info %></li>
	<% end %>
	</ul>


<h2>RECOMMENDED CUSTOM EXPERIENCE AWARDS (OPEN TO STORES DIVISION)</h2>
	<ul>
	<% @awards_store.each do |award| %>
		<li><%= link_to award.name, award_path(award), :title => award.info %></li>
	<% end %>
	</ul>
	
	
<h2>SENIOR MANAGEMENT TEAM SELECTED AWARDS</h2>
	<ul>
		<li><%= link_to "Outfitter Award", award_path(15) %></li>
		<li><%= link_to "Special Achievement Award", award_path(16) %></li>
	</ul>

</div>