<div id="page_body">
<div id="rec_bar_arrow" class="pos4"><%= image_tag 'recommend_nav.png'%></div>
<%= render  'shared/recommend_timeline' %>

<h1>Choose an Award</h1>

<h2>Select an Award for this Recommendation</h2>
<p>&nbsp;</p>
	
	<% case params[:id]
	   when 'store' %>
		<h2>BRAND AWARDS</h2>
		
		<ul class="award_cat_list">
	  	<% @corp.each do |award| %>
			<li><%= link_to award.name, recommend_award_path( :category_id => params[:id], :award_id => award.id), :title => award.info %></li>
		<% end %>
		</ul>
		
		<h2>CUSTOMER EXPERIENCE AWARDS</h2>
		<ul class="award_cat_list">		
			<% @store.each do |award| %>
				<li><%= link_to award.name, recommend_award_path( :category_id => params[:id], :award_id => award.id), :title => award.info %></li>
			<% end %>
		</ul>
		
	<% when 'corp' %>
		<h2>Brand Awards</h2>
		<ul class="award_cat_list">
	  	<% @corp.each do |award| %>
			<li><%= link_to award.name, recommend_award_path( :category_id => params[:id], :award_id => award.id), :title => award.info %></li>
		<% end %>
		</ul>
	<% else %>
	   <br>You must select a Award Category From the <%= link_to "Locations", location_path %> page!
	<% end %>
</div>