<div id="page_body">
<div id="rec_bar_arrow" class="pos4"><%= image_tag 'recommend_nav.png'%></div>
<%= render  'shared/recommend_timeline' %>

<h1>Choose an Award</h1>
	
	
	<% case params[:location]
	   when 'store' %>
		<h2>Select a Brand Award for your recommendation</h2>
		<ul class="award_cat_list">
		<% @store.each do |store| %>
			<li><%= link_to store.name, new_recommendation_path(:award => store.id ), :title => store.info %></li>
		<% end %>
		</ul>
		
	<% when 'corp' %>
		<h2>Select a Corporate/Westmont/Vaughn Awards for your recommendation</h2>
		<ul class="award_cat_list">
	  	<% @corp.each do |corp| %>
			<li><%= link_to corp.name, new_recommendation_path(:award => corp.id), :title => corp.info %></li>
		<% end %>
		</ul>
	<% else %>
	   <br>You must select a Award Category From the <%= link_to "Locations", location_path %> page!
	<% end %>
</div>