

<div id="page_body">
	<%=m @page.body %>
	
<h1 class="pad_top">Award Categories</h1>

<h2>RECOMMENDED BRAND AWARDS (OPEN TO ALL ASSOCIATES)</h2>
	<ul class="award_cat_list">
	<% @awardsall.each do |award| %>
		<li><%= link_to award.name, category_award_path(@cat1, award), :title => award.info %></li>
	<% end %>
	</ul>
	
	

<h2>RECOMMENDED CUSTOMER EXPERIENCE AWARDS (OPEN TO STORES DIVISION)</h2>
	<ul class="award_cat_list">		
		<% @awards_store.each do |award| %>
			<li><%= link_to award.name, category_award_path(@cat2, award), :title => award.info %></li>
			<% end %>
	</ul>



	<h2>SENIOR MANAGEMENT TEAM SELECTED AWARDS</h2>
		<ul class="award_cat_list">
			<li><%= link_to "Outfitter Award", category_awards_path(@award15), :title => @award15.info %></li>
			<li><%= link_to "Special Achievement Award", category_awards_path(@award16), :title => @award16.info %></li>
		</ul>


</div>