<h1>Ask a Question</h1>
<p>All Fields Required</p>
<p>&nbsp;</p>
<%= simple_form_for @question, :url => url_for(:action => 'create', :controller => 'questions'), :method => 'post' do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
	<%= f.input :question, :as => :text, :required => true %>
    <%= f.button :submit, 'Send' %>
  <% end %>