<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @page.name %>
</p>

<p>
  <b>Body:</b>
  <%= @page.body %>
</p>

<div class="btn-group">
	<%= link_to 'Edit', edit_page_path(@page), :class => "btn btn-primary" %>
<%= link_to 'Back', pages_path, :class => "btn" %>
