<p><%= link_to "Back to Admin", admin_path, :class => "btn" %></p>


<h3>Employees</h3>


<table class="table table-striped">
	<tr>
		<th>First Name / Last Name</th>
		<th>Email</th>
		<th>Admin</th>
		<th>SMT</th>
		<th></th>
	</tr>
	<% @users.each do |user| %>
		<tr>		
			<td class="name"><%= user.first_name %> <%= user.last_name %></td>
			<td class="email"><%= user.email %></td>
			<td class="admin"><%= user.admin %></yd>
			<td class="smt"><%= user.smt %></yd>
			<td class="edit">
				<%= link_to "Edit", edit_user_path(user), :class => "btn" %>
				<%= button_to "Delete", { :controller => "registrations", :action => "destroy", :id => user.id }, :method => 'delete', :confirm => "Are you sure?", :class => "btn btn-danger" %> 
			</td>
		</tr>
	<% end %>
	
</table>


