<%= form_for @award do |f| %>

  <% if @award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% @award.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control" %>
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.label :tagline, :class => "control" %>
    <%= f.text_field :tagline %>
  </div>
  <div class="control-group">
   Categories<br />
<% for category in Category.find(:all)%>
	<label class="checkbox inline">
	<%= check_box_tag "award[category_ids][]", category.id, @award.categories.include?(category)%>
	<%= category.name%>
	</label>
<% end %>
    
  </div>


<div class="control-group">
    <%= f.text_area(:info, :rows => "20", :class => 'ckeditor') %>

</div>
    <%= f.submit :class => "btn" %>
<% end %>