<%= form_for [@category, @award], :url => category_award_path do |f| %>

  <% if @award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% @award.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
   Categories<br />
<% for category in Category.find(:all)%>
	<%= check_box_tag "award[category_ids][]", category.id, @award.categories.include?(category)%>
	<%= category.name%>
<% end %>
    
  </div>

 <div class="field">
	<h2>Instructions on page editing</h2>
	# h1 tag<br>
	## h2 tag<br>
	### h3 tag - Add more "#" up to 6<br>
	-    List Items (hyphen, four spaces, item)<br>
	**This is a bold line**<br>
	_this is an italic line_<br>
	<a href="http://daringfireball.net/projects/markdown/syntax#list">Go Here</a> for more info on how to style text


  </div>

<div class="field">
    Award Info<br />
    <%= f.text_area :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
