<div id="page_body">

<div id="rec_bar_arrow" class="pos4"><%= image_tag 'arrow.png'%></div>
	
<%= render  'shared/recommend_timeline' %>

<h3>Choose an Award</h3>

<p>Select an Award for this Recommendation</p>
<div class="space20"></div>

	<% if @category.id == 1 %>
		<h4>BRAND AWARDS</h4>
	
		<ul class="award_cat_list">
	  	<% @corp.each do |award| %>
			<li><%= link_to award.name, new_category_award_recommendation_path(@category, award) %>
					<% if award.tagline %>
					<span class="award-tagline">- <%= award.tagline %></span>
					<% end %>
				
			</li>
		<% end %>
		</ul>
	
		<h4>STORE STATISTICAL AWARDS</h4>
		<ul class="award_cat_list">		
			<% @store.each do |award| %>
				<li><%= link_to award.name, new_category_award_recommendation_path(@category, award) %>
						<% if award.tagline %>
						<span class="award-tagline">- <%= award.tagline %></span>
						<% end %>
					
				</li>
			<% end %>
		</ul>


	<% elsif @category.id == 2%>

		<h2>Brand Awards</h2>
		<ul class="award_cat_list">
	  	<% @corp.each do |award| %>
			<li><%= link_to award.name, new_category_award_recommendation_path(@category, award) %> 
				<% if award.tagline %>
				<span class="award-tagline">- <%= award.tagline %></span>
				<% end %>
			</li>
		<% end %>
		</ul>

	<% elsif @category.id == 5 %>

		<h2>Brand Awards</h2>
		<ul class="award_cat_list">
	  	<% @grove.each do |award| %>
			<li><%= link_to award.name, new_category_award_recommendation_path(@category, award) %> 
			<% if award.tagline %>
			<span class="award-tagline">- <%= award.tagline %></span>
			<% end %>
			</li>
		<% end %>
		</ul>
	<% end %>


</div>


