<%= simple_form_for(@email) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.label :first_name %>
    <%= f.input :first_name %>
  </div>
  <div class="inputs">
    <%= f.label :last_name %>
    <%= f.input :last_name %>
  </div>
  <div class="inputs">
    <%= f.label :email %>
    <%= f.input :email %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
