<!DOCTYPE html>
<html lang="en">

<head>
  <title>Best of Bauer</title>
  	<%= stylesheet_link_tag "application"  %>
  
  <%= javascript_include_tag "application" %> 
  <%= csrf_meta_tags %>

</head>
<body>

<% if @page.present? && @page.name == "Home" %>	
	<div class="container home" >
<% else %>
	<div class=" container interior">
<% end %>

<ul id="utility-nav" class="">
		<% if user_signed_in? %>
		   <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
		<% else %>
		    <li id="sign_up_in"><%= link_to "Sign up", new_user_registration_path %></li>
			<li class="or">or </li>
			<li><%= link_to "Sign in", new_user_session_path %></li>
		<% end %>
		<% if current_user.present? && current_user.admin == true %>
			<li><%= link_to "Admin", admin_path %></li>
		<% end %>
		
		<% if current_user.present? %>
			<li>
				<% if @my_recs.present? %>
					<%= link_to "My Rec's", recs_path%></li>
				<% end %>
					<% if @approval_value.present? %>
						<%= link_to "In-Box", inbox_path %>
					<% else %>
					
					<% end %>
			</li>
	<% else %><% end %> 
</ul>

	<div id="top" class="clearfix">	
		

		<ul id="main_nav" class="nav nav-pills pull-left">
			<li><%= link_to "Recommend Now!", location_path %></li>
			<li><%= link_to "Overview & Timeline", overview_path%></li>
			<li><%= link_to "Award Categories", awardcat_path%></li>
			<li><%= link_to "Prizes", prizes_path%></li>		
			<li><%= link_to "Photos & Video", photo_video_path%></li>
			<li id="last"><%= link_to "Questions", question_path %></li>
		</ul>
		
	</div>

	
	<div class="limiter">
		<% if flash[:notice] %>
		      <div class="alert alert-success">
					<button class="close" type="button" data-dismiss="alert">&times;</button>
					<%= flash[:notice] %>
				</div>
		    <% end %>
		    <% if flash[:error] %>
		      <div class="alert alert-error">
				<button class="close" type="button" data-dismiss="alert">&times;</button>
				<%= flash[:error] %>
			</div>
		    <% end %>
		
		<div id="page_body">
			<%= yield %>
		</div>
		
		
			<% if mobile?%>
			<div id="switcher">
				<%= link_to "Full Site", root_url(:mobile => 0)%>	
			</div>
					
			<% end %>
	</div>


</div>
</body>
</html>
