<h2>Edit <%= @account.first_name %><%= @account.last_name %></h2>

<p><%= link_to "Back to Admin", admin_path %></p>

<%= form_for(@account) do |f| %>

	<div>First Name:<br />
	  <%= f.text_field :first_name %></div>
	<div>Last Name: <br />
	  <%= f.text_field :last_name %></div>


  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div>Admin<br>
	<%= f.check_box :admin%>
  </div>

  <div>SMT<br>
	<%= f.check_box :smt%>
  </div>


  <div><%= f.submit "Update" %></div>
<% end %>




